* {
   margin: 0;
   padding: 0;
   font-family: cursive;
   text-align: center;
}

body {
   background-color: #fcefee;
   color: #5a5a5a;
}

h1 {
   background-color: #ffc3a0; 
   color: #fff;
   height: 5rem;
   line-height: 5rem;
}

.choice {
   height: 210px;
   width: 210px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.3s ease;
}

.choice:hover {
   cursor: pointer;
   background-color: #ffb5e8; 
   box-shadow: 0 0 15px #ffb5e8;
}

img {
   height: 200px;
   width: 200px;
   object-fit: cover;
   border-radius: 50%;
   border: 2px solid #ffc3a0; 
}

.choices {
   margin-top: 5rem;
   display: flex;
   justify-content: center;
   gap: 3rem;
   flex-wrap: wrap;
}

.score-board {
   color: #ff9aa2; 
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   gap: 5rem;
   margin: 2rem auto;
   flex-wrap: wrap;
}

#your-score,
#bot-score {
   font-size: 4rem;
   color: #ff6f91; 
}

#msg {
   background-color: #e0bbf9; 
   color: #000;
   display: inline;
   padding: 1rem 2rem;
   font-size: 2rem;
   border-radius: 1rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
